* {
    box-sizing: border-box;
}

body {
    font-family: "Trebuchet MS", sans-serif;
    background-color: #FFF8E7;
    color: #000000;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}


/*   BARRA  */

.barra-navegacion {
    background-color: white;
    padding: 1rem 5%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-decoration: none;
    color: #000000;
}
.logo img {
    height: 5rem;
     border-radius: 100%;
       
}
.logo-texto {
    font-size: 5rem;
    font-weight: bold;
   
}

.menu {
    display: flex;
    gap: 1rem;
    list-style: none;
}

.menu a {
    color: #000000;
    text-decoration: none;
}

.menu a:hover {
    color: #E94B4B;
}


/*   BOTONES   */

.boton {
    padding: 0.8rem 1rem;
    border-radius: 0.7rem;
    text-decoration: none;
}

.boton-principal {
    background-color: #F47B3A;
    color: white;
    border: none;
}

.boton-secundario {
    background-color: #E94B4B;
    color: white;
}


/* PIE DE PÁGINA */

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 1rem;
}


/* CELULAR */

@media (max-width: 40rem) {

    .barra-navegacion {
        flex-direction: column;
        gap: 1rem;
    }

}
