.contenido-ranking {
    width: 80%;
    margin: 2rem auto;
}

.encabezado-ranking {
    text-align: center;
}

.selector-liga,
.mensaje-ranking,
.tabla-ranking {
    background-color: white;
    padding: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
  
}

.selector-liga select {
    padding: 0.7rem;
    border: 0.1rem solid #E94B4B;
    border-radius: 0.7rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 1rem;
    text-align: center;
    border-bottom: 0.1rem solid #FFD45A;
}

th {
    background-color: #F47B3A;
    color: white;
}


/* CELULAR */

@media (max-width: 40rem) {

    .contenido-ranking {
        width: 95%;
    }

    table {
        font-size: 0.8rem;
    }

}