:root {
    --crema: #FFF8E7;
    --amarillo: #FFD45A;
    --naranja: #F47B3A;
    --rojo: #E94B4B;
    --gris: #E5E5E5;
    --negro: #333333;
}

* { margin: 0; padding: 0; box-sizing: border-box; }

body.acierto {
    font-family: sans-serif;
    color: var(--negro);
    text-align: center;
    background-color: white;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 3rem;
    border: 0.2rem solid yellowgreen;
    border-radius: 2rem;
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.15);
    background-color: var(--crema);
    width: fit-content;
    margin: 3rem auto;
    flex: none;
}

main::before {
    content: "✓";
    font-size: 3rem;
    color:yellowgreen;
}

main a {
    color: white;
    background-color: yellowgreen;
    text-decoration: none;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1rem;
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.15);
    transition: 0.2s;
}

main a:hover {
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
    transform: translateY(-0.1rem);
}

